/*#the-content {
    display: none;
}*/
body {
    color: rgb(255,255,255);
    background-color: #454545;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}
/* setup */
#head-container {
    height: 60px;
    width: 100%;
    background: rgb(40,40,40);
    position: fixed;
    z-index: 20;
}
.navigation-container {
    float: right;
}
.nav-li {
    display: inline-block;
}
.splash-screen {
    height: 841px;
    width: 100%;
    padding-top: 250px;
    box-sizing: border-box;
}
.headline-container {
    width: 675px;
    height: 158px;
    margin: 0 auto;
    background: rgba(40,40,40,0.5);
    padding-top: 43px;
    box-sizing: border-box;
}
.red-section {
    height:300px;
    width: 100%;
    background-color: rgb(206,32,47);
    position: relative;
    z-index: 1;
}
#red-section-01 {
    margin-top: 134px;
}
.our-people {
    height: 1223px;
    width: 100%;
    background-color: rgb(255,255,255);
    padding-top: 50px;
    box-sizing: border-box;
}
.our-space, .our-work , .our-clients, .our-things, .contact-us {
    height: 600px;
    width: 100%;
}
/*.our-clients, .our-things {
    padding-top: 80px;
}*/
.our-space {
    height: 820px;
}
.our-things {
    height: 941px;
}
.our-clients {
    margin-top: -180px;
}
.our-clients, .our-things, .contact-us {
    background-color: rgb(255,255,255);
}
footer{
    height: 406px;
    width: 100%;
    background-color: rgb(16,16,16);
}
.people-container {
    /*width: 100%;*/
    width: 1041px;
    position: relative;
    z-index: 2;
    max-width: 1041px;
    margin: 0 auto;
}
.people {
    margin-bottom: 10px;
}
.clients {
    margin-top: 20px;
}
.person, .client {
    display: inline-block;
    height: 180px;
    width: 180px;
    background-color: #666;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    padding: 6px;
    box-sizing: border-box;
    padding: 0;
}
.client {
    background-color: rgb(241,241,241);
}
.things {
    margin-top: 20px;
    margin-bottom: 50px;
}
.thing {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: #00ffff;
    margin-left: 10px;
}
.box-text {
    margin-top: 30px;
    display: inline-block;
    line-height: 25px;
}
.wide {
    width: 374px;
}
.goldenrod {
    background-color: rgb(211,184,102);
}
.grey {
    background-color: rgb(216,216,216);
}

/* typo */
.navigation-container {
    position: relative;
    top: 23px;
    right: 60px;
}
.nav-li {
    font-size: 14px;
    margin-right: 33px;
}
.main-headline {
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    font-size: 42px;
}
.second-headline {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 20px;
}
.red-line {
    color: rgb(206,32,47);
}
.main-sections h1 {
    font-family: 'Droid Serif', serif;
    font-size: 30px;
}
.main-sections h2 {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.our-people, .our-things, .our-clients, .contact-us {
    color: rgb(0,0,0);
}
.red-section h1 {
    position: relative;
    top: 90px;
    max-width: 680px;
    margin: 0 auto;
    line-height: 49px;
}
.red-section h2 {
    font-family: 'Droid Serif', sans-serif;
    position: relative;
    top: 110px;
}
.our-people h1, .our-space h1, {
    margin-bottom: 14px;
}
.our-people h2, .our-space h2 {
    margin-bottom: 50px;
}
.section-headlines {
    position: relative;
    z-index: 2;
    /* display: inline-block; */
    /*margin-bottom: -119px;*/
    /* float: left; */
    margin: 0 auto;
    width: 630px;
    /* left: 17%; */
    /* margin-top: 60px; */
    /*top: 60px;*/
}
.tim {
    background-image: url('../images/team/1-Tim.jpg');
    background-position: -120px -70px;
    background-repeat: no-repeat;
    background-size: 300%;
}
.lori {
    background-image: url('../images/team/2-Lori.jpg');
    background-position: -40px -10px;
    background-repeat: no-repeat;
    background-size: 200%;
}
.mattm {
    background-image: url('../images/team/3-MattM.jpg');
    background-position: -150px -10px;
    background-repeat: no-repeat;
    background-size: 210%;
}
.david {
    background-image: url('../images/team/4-David.jpg');
    background-position: -77px -20px;
    background-repeat: no-repeat;
    background-size: 220%;
}
.alicia {
    background-image: url('../images/team/5-Alicia.jpg');
    background-position: -127px -10px;
    background-repeat: no-repeat;
    background-size: 200%;
}
.len {
    background-image: url('../images/team/6-Len.jpg');
    background-position: -77px -20px;
    background-repeat: no-repeat;
    background-size: 220%;
}
.bridget {
    background-image: url('../images/team/7-Bridget.jpg');
    background-position: -117px -8px;
    background-repeat: no-repeat;
    background-size: 200%;
}
.matts {
    background-image: url('../images/team/8-MattS.jpg');
    background-position: -77px -20px;
    background-repeat: no-repeat;
    background-size: 220%;
}
.carrie {
    background-image: url('../images/team/9-Carrie.jpg');
    background-position: -127px -10px;
    background-repeat: no-repeat;
    background-size: 201%;
}
.cathy {
    background-image: url('../images/team/10-Cathy.jpg');
    background-position: -143px -12px;
    background-repeat: no-repeat;
    background-size: 200%;
}
.clarke {
    background-image: url('../images/team/11-Clarke.jpg');
    background-position: -131px -5px;
    background-repeat: no-repeat;
    background-size: 190%;
}
.jessica {
    background-image: url('../images/team/12-Jessica.jpg');
    background-position: -77px -20px;
    background-repeat: no-repeat;
    background-size: 220%;
}
.meghan {
    background-image: url('../images/team/13-Meghan.jpg');
    background-position: -178px -64px;
    background-repeat: no-repeat;
    background-size: 320%;
}
.clearchoice {
    background-image: url('../images/clients/');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.sears {
    background-image: url('../images/clients/');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.kellogg {
    background-image: url('../images/clients/');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.devry {
    background-image: url('../images/clients/');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.nationalrealtors {
    background-image: url('../images/clients/');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.erie {
    background-image: url('../images/clients/');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.uscell {
    background-image: url('../images/clients/');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.wilson {
    background-image: url('../images/clients/');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.honeywell {
    background-image: url('../images/clients/');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.cancertreatment {
    background-image: url('../images/clients/');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.flip {
    background-color: grey;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: none;
}
.red-section h1 {
    font-family: 'Droid Serif', serif;
    font-size: 36px;
    color: rgb(255,255,255);
}
.our-work {
    height: 818px;
    background-image: url(../images/carecenter.png);
    background-repeat: no-repeat;
    background-position: -200px 0px;
    background-size: 120%;
}
/* other */
#bgvid {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    /*min-height: 100%;*/
    width: auto;
    height: auto;
    z-index: -100;
    background: url('../videos/boat.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#header-logo {
    height: 22px;
    width: 222px;
    float: left;
    position: relative;
    top: 15px;
    left: 60px;
}

.wrapper{
  /*width:90%;*/
  position:relative;
  z-index: 1;
  /*margin:5% auto 0;*/
  height: 600px;
  margin-top: -180px;
}

/**
 * Padding is set relative to the width
 * of the element, so here padding-top:60% is
 * a percentage of the width. This allows us 
 * to set the height as a ratio of the width
 *
 */
.carousel{
    width: 100%;
    position: relative;
    padding-top: 60%;
    overflow: hidden;
    height: 600px;
}

.inner{
    width: 100%;
    height: 100%;
    height: 600px;
    position: absolute;
    top:0;
    left: 0;
}

/**
 * ==========================
 * Animation styles
 * 
 * Notes:
 * 1. We use z-index to position active slides in-front 
 * of non-active slides
 * 2. We set right:0 and left:0 on .slide to provide us with
 * a default positioning on both sides of the slide. This allows 
 * us to trigger JS and CSS3 animations easily
 *
 */
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    left:0;
    z-index: 1;
    opacity: 0;
}

.slide.active,
.slide.left,
.slide.right{
    z-index: 2;
    opacity: 1;
}

/**
 * ==========================
 * JS animation styles
 * 
 * We use jQuery.animate to control the sliding animations
 * when CSS3 animations are not available. In order for
 * the next slide to slide in from the right, we need
 * to change the left:0 property of the slide to left:auto
 *
 */

.js-reset-left{left:auto}

/**
 * ==========================
 * CSS animation styles
 * 
 * .slide.left and .slide.right set-up
 * the to-be-animated slide so that it can slide
 * into view. For example, a slide that is about 
 * to slide in from the right will:
 * 1. Be positioned to the right of the viewport (right:-100%)
 * 2. Slide in when the style is superseded with a more specific style (right:0%)
 *
 */
.slide.left{
    left:-100%;
    right:0;
}

.slide.right{
    right:-100%;
    left: auto;
}

.transition .slide.left{left:0%}
.transition .slide.right{right:0%}

/**
 * The following classes slide the previously active
 * slide out of view before positioning behind the 
 * currently active slide
 *
 */
.transition .slide.shift-right{right: 100%;left:auto}
.transition .slide.shift-left{left: 100%;right:auto}

/**
 * This sets the CSS properties that will animate. We set the
 * transition-duration property dynamically via JS.
 * We use the browser's default transition-timing-function
 * for simplicity's sake
 * 
 * It is important to note that we are using CodePen's inbuilt
 * CSS3 property prefixer. For your own projects, you will need
 * to prefix the transition and transform properties here to ensure
 * reliable support across browsers
 *
 */
.transition .slide{
    transition-property: right, left, margin;
}

/**
 * ==========================
 * Indicators
 *
 */
.indicators{
  width:100%;
  display: none;
  position: absolute;
  bottom:0;
  z-index: 4;
  padding:0;
  text-align: center;
}

.indicators li{
    width: 13px;
    height: 13px;
    display: inline-block;
    margin: 5px;
    background: #fff;
    list-style-type: none;
    border-radius: 50%;
  cursor:pointer;
  transition:background 0.3s ease-out;
}

.indicators li.active{background:#93278f}

.indicators li:hover{background-color:#2b2b2b}

/**
 * ==========================
 * Arrows 
 *
 */
.arrow{
  width: 20px;
  height: 20px;
  position:absolute;
  top:50%;
  z-index:5;
  border-top:3px solid #fff;
  border-right:3px solid #fff;
  cursor:pointer;
  transition:border-color 0.3s ease-out;
}

.arrow:hover{border-color:#93278f}

.arrow-left{
  top: 12%;
  left:20px;
  transform:rotate(225deg);
}

.arrow-right{
  right:20px;
  top: 12%;
  transform:rotate(45deg);
}

/**
 * ==========================
 * For demo purposes only
 * 
 * Please note that the styles below are used
 * for the purposes of this demo only. There is no need
 * to use these in any of your own projects
 *
 */
.slide{
    text-align:center;
  padding-top:25%;
  background-size:cover;
  height: 330px;
}

/*.carousel h1{
    width:100px;
  height:100px;
  background-color:rgba(146, 45, 141,0.7);
    margin:auto;
  line-height:100px;
    color:#fff;
    font-size:2.4em;
  border-radius:50%;
}*/

.slide:nth-child(1){
    background-image: url(../images/space/Photo-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

.slide:nth-child(2){
    background-image: url(../images/space/Photo-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide:nth-child(3){
    background-image: url(../images/space/Photo-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .slide:nth-child(4){
    background-image: url(../images/space/Photo-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .slide:nth-child(5){
    background-image: url(../images/space/Photo-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .slide:nth-child(6){
    background-image: url(../images/space/Photo-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .slide:nth-child(7){
    background-image: url(../images/space/Photo-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .slide:nth-child(8){
    background-image: url(../images/space/Photo-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
a {
    text-decoration: none;
    color: rgb(255,255,255);
}
.guy, .guy2 {
    height: 43px;
    width: 27px;
    position: relative;
    top: 80px;
}
.guy2 {
    top: 100px;
}
#section-04 h1 {
    position: relative;
}
#section-04 h2 {
    position: relative;
    top: 10px;
}
.button {
    width: 245px;
    height: 58px;
    border: 3px solid rgb(84,175,195);
    background-color: rgb(173,178,182);
    margin: 0 auto;
    position: relative;
    top: 20px;
}
.button-text {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}
#people {
    padding-top: 10px;
}
#red-section-04 {
    margin-top:250px;
}
.main-sections {
    padding-top: 80px;
}
footer {
    height: 405px;
    background-image: url(../images/footer_bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}