html {
    height: 100%;
    width: 100%;
}
body {
    color: rgb(255,255,255);
    background-color: #454545;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    height: 100%;
    min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}
/* setup */
#head-container {
    height: 60px;
    width: 100%;
    background: rgb(40,40,40);
    position: fixed;
    z-index: 20;
}
.navigation-container {
    float: right;
    position: relative;
    top: 23px;
    right: 0;
    width: 100%;
    text-align: right;
}
.nav-li {
    display: inline-block;
    font-size: 14px;
    margin-right: 33px;
}
.nav-li a:hover {
    color: rgb(206,32,47);
    border-bottom: 3px solid rgb(206,32,47);
    padding-bottom: 4px;
}
.nav-li a:active {
    color: rgb(206,32,47);
    border-bottom: 3px solid rgb(206,32,47);
    padding-bottom: 4px;
}
.splash-screen {
    max-height: 100%;
    height: 1200px;
    width: 100%;
    padding-top: 250px;
    box-sizing: border-box;
}
.headline-container {
    width: 675px;
    max-width: 100%;
    height: 158px;
    margin: 0 auto;
    background: rgba(40,40,40,0.5);
    padding-top: 43px;
    box-sizing: border-box;
}
.red-section {
    height:300px;
    width: 100%;
    background-color: rgb(206,32,47);
    position: relative;
    z-index: 1;
}
#red-section-01 {
    margin-top: 134px;
}
.our-people {
    /*height: 1223px;*/
    padding-bottom: 80px;
    width: 100%;
    background-color: rgb(255,255,255);
    padding-top: 50px;
    box-sizing: border-box;
    max-height: 100%;
}
.our-space, .our-work , .our-clients, .our-things, .contact-us {
    height: 100%;
    width: 100%;
}
.our-space {
    height: 100%;
}
.our-clients {
    padding-bottom: 80px;
}
.our-clients, .our-things, .contact-us {
    background-color: rgb(255,255,255);
}
footer{
    height: 406px;
    width: 100%;
    background-color: rgb(16,16,16);
}
.people-container {
    width: 1041px;
    position: relative;
    z-index: 2;
    max-width: 100%;
    margin: 0 auto;
}
.people {
    margin-bottom: 10px;
}
.clients {
    margin-top: 20px;
}
.person, .client {
    display: inline-block;
    height: 180px;
    width: 180px;
    background-color: #666;
    margin: 5px;
    vertical-align: top;
    padding: 6px;
    box-sizing: border-box;
    padding: 0;
}
.client {
    background-color: rgb(241,241,241);
}
.things {
    margin-top: 20px;
    margin-bottom: 50px;
}
.thing {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: #00ffff;
    margin-left: 10px;
    margin-bottom: 130px;
}
.box-text {
    margin-top: 30px;
    display: inline-block;
    line-height: 25px;
}
.wide {
    width: 374px;
}
.goldenrod {
    background-color: rgb(211,184,102);
}
.grey {
    background-color: rgb(216,216,216);
}

.navigation-container {
    position: relative;
    top: 23px;
    right: 60px;
}

.main-headline {
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    font-size: 42px;
}
.second-headline {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 20px;
}
.red-line {
    color: rgb(206,32,47);
}
.main-sections h1 {
    font-family: 'Droid Serif', serif;
    font-size: 30px;
    margin-bottom: 10px;
}
.main-sections h2 {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.our-people, .our-things, .our-clients, .contact-us {
    color: rgb(0,0,0);
}
.red-section h1 {
    position: relative;
    top: 90px;
    width: 680px;
    max-width: 100%;
    margin: 0 auto;
    line-height: 49px;
}
.red-section h2 {
    font-family: 'Droid Serif', sans-serif;
    position: relative;
    top: 110px;
}
.our-people h1, .our-space h1, {
    margin-bottom: 14px;
}
.our-people h2, .our-space h2 {
    margin-bottom: 50px;
}
.section-headlines {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 630px;
    max-width: 100%;
}


.client:nth-child(1) {
    background-image: url('../images/clients/clearchoice.png');
    background-size: 90%;
    /*background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
}
.client:nth-child(2) {
    background-image: url('../images/clients/sears.png');
    background-size: 90%;
    /*background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
}
.client:nth-child(3) {
    background-image: url('../images/clients/kellogg.png');
    background-size: 90%;
    /*background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
}
.client:nth-child(4) {
    background-image: url('../images/clients/devry.png');
    background-size: 90%;
    /*background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
}
.client:nth-child(5){
    background-image: url('../images/clients/nationalrealtors.png');
    background-size: 90%;
    /*background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
}
.client:nth-child(6){
    background-image: url('../images/clients/erie.png');
    background-size: 90%;
    /*background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
}
.client:nth-child(7){
    background-image: url('../images/clients/uscell.png');
    background-size: 90%;
    /*background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
}
.client:nth-child(8){
    background-image: url('../images/clients/wilson.png');
    background-size: 90%;
    /*background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
}
.client:nth-child(9){
    background-image: url('../images/clients/honeywell.png');
    background-size: 90%;
    /*background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
}
.client:nth-child(10){
    background-image: url('../images/clients/cancertreatment.png');
    background-size: 90%;
    /*background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
}
.flip {
    background-color: grey;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: none;
}
.red-section h1 {
    font-family: 'Droid Serif', serif;
    font-size: 36px;
    color: rgb(255,255,255);
}
.our-work {
    height: 1330px;
    max-height: 100%;
    background-image: url(../images/carecenter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* other */
#bgvid {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url('../videos/boat.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#header-logo {
    height: 22px;
    width: 222px;
    float: left;
    position: relative;
    top: 15px;
    left: 60px;
}

.wrapper{
  position:relative;
  z-index: 1;
  height: 100%;
  margin-top: -210px;
}

/**
 * Padding is set relative to the width
 * of the element, so here padding-top:60% is
 * a percentage of the width. This allows us 
 * to set the height as a ratio of the width
 *
 */
.carousel{
    width: 100%;
    position: relative;
    padding-top: 60%;
    overflow: hidden;
    height: 600px;
}

.inner{
    width: 100%;
    height: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}

/**
 * ==========================
 * Animation styles
 * 
 * Notes:
 * 1. We use z-index to position active slides in-front 
 * of non-active slides
 * 2. We set right:0 and left:0 on .slide to provide us with
 * a default positioning on both sides of the slide. This allows 
 * us to trigger JS and CSS3 animations easily
 *
 */
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    left:0;
    z-index: 1;
    opacity: 0;
}

.slide.active,
.slide.left,
.slide.right{
    z-index: 2;
    opacity: 1;
}

/**
 * ==========================
 * JS animation styles
 * 
 * We use jQuery.animate to control the sliding animations
 * when CSS3 animations are not available. In order for
 * the next slide to slide in from the right, we need
 * to change the left:0 property of the slide to left:auto
 *
 */

.js-reset-left{left:auto}

/**
 * ==========================
 * CSS animation styles
 * 
 * .slide.left and .slide.right set-up
 * the to-be-animated slide so that it can slide
 * into view. For example, a slide that is about 
 * to slide in from the right will:
 * 1. Be positioned to the right of the viewport (right:-100%)
 * 2. Slide in when the style is superseded with a more specific style (right:0%)
 *
 */
.slide.left{
    left:-100%;
    right:0;
}

.slide.right{
    right:-100%;
    left: auto;
}

.transition .slide.left{left:0%}
.transition .slide.right{right:0%}

/**
 * The following classes slide the previously active
 * slide out of view before positioning behind the 
 * currently active slide
 *
 */
.transition .slide.shift-right{right: 100%;left:auto}
.transition .slide.shift-left{left: 100%;right:auto}

/**
 * This sets the CSS properties that will animate. We set the
 * transition-duration property dynamically via JS.
 * We use the browser's default transition-timing-function
 * for simplicity's sake
 * 
 * It is important to note that we are using CodePen's inbuilt
 * CSS3 property prefixer. For your own projects, you will need
 * to prefix the transition and transform properties here to ensure
 * reliable support across browsers
 *
 */
.transition .slide{
    transition-property: right, left, margin;
}

/**
 * ==========================
 * Indicators
 *
 */
.indicators{
  width:100%;
  display: none;
  position: absolute;
  bottom:0;
  z-index: 4;
  padding:0;
  text-align: center;
}

.indicators li{
    width: 13px;
    height: 13px;
    display: inline-block;
    margin: 5px;
    background: #fff;
    list-style-type: none;
    border-radius: 50%;
  cursor:pointer;
  transition:background 0.3s ease-out;
}

.indicators li.active{background:#93278f}

.indicators li:hover{background-color:#2b2b2b}

/**
 * ==========================
 * Arrows 
 *
 */
.arrow{
  width: 20px;
  height: 20px;
  position:absolute;
  top:50%;
  z-index:5;
  border-top:3px solid #fff;
  border-right:3px solid #fff;
  cursor:pointer;
  transition:border-color 0.3s ease-out;
}

.arrow:hover{border-color:#93278f}

.arrow-left{
  top: 12%;
  left:20px;
  transform:rotate(225deg);
}

.arrow-right{
  right:20px;
  top: 12%;
  transform:rotate(45deg);
}

/**
 * ==========================
 * For demo purposes only
 * 
 * Please note that the styles below are used
 * for the purposes of this demo only. There is no need
 * to use these in any of your own projects
 *
 */
.slide{
    text-align:center;
  padding-top:25%;
  background-size:cover;
  height: 100%;
}

.slide:nth-child(1){
    background-image: url(../images/space/Photo-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

.slide:nth-child(2){
    background-image: url(../images/space/Photo-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide:nth-child(3){
    background-image: url(../images/space/Photo-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .slide:nth-child(4){
    background-image: url(../images/space/Photo-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .slide:nth-child(5){
    background-image: url(../images/space/Photo-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .slide:nth-child(6){
    background-image: url(../images/space/Photo-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .slide:nth-child(7){
    background-image: url(../images/space/Photo-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .slide:nth-child(8){
    background-image: url(../images/space/Photo-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
a {
    text-decoration: none;
    color: rgb(255,255,255);
}
.guy, .guy2 {
    height: 43px;
    width: 27px;
    position: relative;
    top: 80px;
}
.guy2 {
    top: 100px;
}
#section-04 h1 {
    position: relative;
}
#section-04 h2 {
    position: relative;
    top: 10px;
}
.button {
    width: 245px;
    height: 58px;
    border: 3px solid rgb(84,175,195);
    background-color: rgb(173,178,182);
    margin: 0 auto;
    position: relative;
    top: 20px;
    display: block;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
.button:hover {
    /*border: 3px solid transparent;*/
    border: 3px solid rgb(84,175,195);
    background-color: rgb(84,175,195);
}
.button-text {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}
#people {
    padding-top: 10px;
}
#red-section-04 {
    margin-top:250px;
}
.main-sections {
    padding-top: 80px;
}
footer {
    height: 405px;
    background-image: url(../images/footer_bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    padding-top: 20px;
}
footer a {
    border-bottom: 1px solid rgb(255,255,255)
}

.column3rds {
    width: 32.53333%;
    height: 200px;
    display: inline-block;
    text-align: right;
    height: 92%;
    margin-top: -22px;
    padding-top: 175px;
    box-sizing: border-box;
}
.second-col  {
    text-align: left;
    padding-top: 101px;
    vertical-align: top;
}
.third-col {
    text-align: left;
    padding-top: 100px;
    margin-top: -20px;
    vertical-align: top;
}
.footer-logo {
    position: relative;
    top: -64px;
    right: 40px;
}
.footer-copy {
    line-height: 22px;
    font-family: 'Muli';
    font-weight: 100;
    font-size: 16px;
}
.client-login-area a {
    border: none;
}
.strategy {
    background-image: url(../images/things/strategy.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 150%;
}
.creative {
    background-image: url(../images/things/creative.jpg);
    background-position: -70px -30px;
    background-repeat: no-repeat;
    background-size: 175%;
}
.delivery {
    background-image: url(../images/things/delivery.jpg);
    background-position: -170px 0;
    background-repeat: no-repeat;
    background-size: 170%;
}
.thing h1 {
font-size: 52px;
position: relative;
display: inline-block;
margin-top: 120px;
color: rgb(255,255,255);
}
.things-container, .clients-container {
    width: 1041px;
    position: relative;
    z-index: 2;
    max-width: 100%;
    margin: 0 auto;   
}
.thing p {
    position: relative;
    top: 140px;
}
.thing-copy {
    display: inline-block;
    width: 300px;
    height: 200px;
    padding: 5px;
    box-sizing:border-box;
}
.things-cpoy {
    list-style: none;
}
.thing-copy p {
    color: rgb(0,0,0);
    font-weight: 100;
    line-height: 24px;
}
.test {
    top: -184px;
    position: relative;
}

.detail-copy {
    height: 80px;
    width: 100%;
    position: relative;
    background-color: rgba(77,164,183, 0.8);
    top: 290px;
    color: rgb(255,255,255);
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}
.detail-copy h1 {
    font-family: 'gotham_bookregular', sans-serif;
    text-transform: uppercase;
}

/* MAP STYLING */

#google-map {
    z-index: 5;
    margin-top: -100px;
    width: 100%;
    height: 720px;
    z-index: 0;
}
#section-07 {
    padding-top: 0;
}
.contact-headlines {
    top: 220px;
    z-index: 6;
}


.nav-ul-desktop {
    position: relative;
    top: -23px;
}
.menu-btn div {
    position: absolute;
    /*left: 100%;*/
    /*top: 64%;*/
    padding-right: 8px;
    /*margin-top: -0.50em;*/
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 3;
}
.menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    z-index: 99;
}
.responsive-menu {
    display: none;
    opacity: 0;
    height: 0;
    /*-webkit-transition:display  0.3s linear;
    -moz-transition:display  0.3s linear;
    -ms-transition: display 0.3s linear;
    -o-transition:display  0.3s linear;
    transition:display  0.3s linear;*/
}
.expand {
    display: block;
    height: 100%;
    opacity: 1;
}
/*.shown {
    opacity: 1;
    height: 100%;
}*/
/*.hidden {
    opacity: 0;
}*/
.drop {
    clear: both;
    background: rgb(40,40,40);
    top: -30px;
    position: relative;
    text-align: center;
}
.mobile-nav {
    display: none;
    width: 100%;
    float: right;
    text-align: right;
    margin-right: -60px;
}
.hamburger {
    height: 40px;
    width: 40px;
    background-image: url('../images/hamburgler.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    position: relative;
    top: -30px;
    right: 20px;
    cursor: pointer;
}
.nav-li-mobile {
    height: 30px;
    padding: 30px 0 10px 0;
    border-bottom: 3px solid rgb(206,32,47);
}
.nav-li-mobile a {
    font-size: 1.25em;
}
@media only screen and (max-width: 900px) {
    .nav-ul-desktop {
        display: none;
    }
    .nav-li {
        display: none;
    }
    #header-logo {
        left: 10px;
    }
    .headline-container {
        padding-top: 51px;
    }
    .main-headline {
        font-size: 35px;
        margin-bottom: 10px;
    }
    .mobile-nav {
        display: block;
    }
    #bgvid {
        right: -800px;
    }
    .client {
        margin: 20px;
        width: 320px;
        height: 320px;
    }

}



